#keyboard .key { width:30px; height:50px; margin:5px; }
#keyboard .key.correct { outline: 5px solid #a6d8a6; }

#log>span { height:15px; width:15px; background:lightgray; display:inline-block; }

.pass { background-color:#a6d8a6 !important; }
.fail { background-color:red !important; }

